body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    font-size: 16px;
}

.title {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 32px;
    text-align: center
  }
h1{
    text-align: center;
  }


input[type="text"] {
    display: block;
    width: calc(90% - 2px); 
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
   
}
.searchbar form {
    position: relative;
}
.searchbar form button {
    /* position: absolute; */
    right: 0;
    top: 0;
    font-size: 10px;
}


.card {
    width: 450px;
    background-color: white;
    /* color: rgb(99, 37, 37); */
    /* border-radius: 60px; */
    /* overflow: hidden; */
    margin:  auto;
    height:90%;
    }
.fileupload {
    width: 450px;
    background-color: white;
    color: rgb(99, 37, 37);
    /* border-radius: 60px; */
    /* margin: 60px auto; */
}   


.api_results{
width: 450px;
/* padding: 0px 32px; */
/* border: 15px solid; */
color: #000;
}

img {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    width: 90px ;
    height: 60px;
    float: left;
  } 

  
h2{
    flex-basis: 100%;
    float: right;
    font-size: 13px;
    border: 1px solid;
    width: 442px; 
    margin: 5px;
   
}   

.button1 {
    padding: 15px 10px;
    position: absolute;
    float: right;
  } 
.button2{
    padding: 5px 10px;
    float: right;
    /* color: black; */
}
