/* MAIN BODY START */
body {
	 background-repeat: no-repeat;
	 background-size: cover;
	 overflow: scroll;
	 background-color: var(--primary-background-color);
	 font-size: 16px;

	 /* Variables */
	 --primary-background-color: #EAEBEB;
}

#main_page {
	margin-left: 5%;
	margin-right: 5%;
	padding: 30px;
	margin-top: 10px;
	position: relative;
	border-radius: 10px;
	background-color: var(--primary-foreground-color);

	/* Variables */
	--primary-foreground-color: #f2f2f2;
}

.card {
	font-family:Arial, Helvetica, sans-serif;
	width: 450px;
	background-color: transparent;
	margin: auto;
	padding: 0;
	height: 16em;
	justify-content: space-evenly;
}

#tagline{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	color: #3d3d3d;
}
/* MAIN BODY END */

/* SELECT START */
.fileupload {
	font-family:Arial, Helvetica, sans-serif;
	width: 450px;
	background-color: transparent;
	color: #4e4e4e;
	margin-bottom: 20px;
}

#submit_button {
	font-family:Arial, Helvetica, sans-serif;
	padding: 7px 10px;
	cursor: pointer;
	background-color: #00a54a; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 10px;
	float: right;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.199);
}
#submit_button:hover {
	background-color: #00893e;
}

.err_res .flashes {
	font-family:Arial, Helvetica, sans-serif;
	padding: 7px 10px;
	margin: auto;
}

.err_res li {
	list-style: none;
}

/* SELECT END */

/* SEARCH BAR START*/
.search-wrapper {
	background-color: #ffffff;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.autocom-box {
	padding: 10px 8px;
	overflow-y: auto;
	max-height: 280px;
}

.autocom-box li {
	list-style: none;
	padding: 8px 12px;
	width: 90%;
	cursor: default;
	border-radius: 8px;
}

.autocom-box li:hover {
	background-color: #efefef;
}

.search-bar-form {
	background: #ffffff;
	width: 100%;
	height: 55px;
	display: flex;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-bar-form input {
	flex: 1;
	border: none;
	outline: none;
	font-size: 18px;
}

.search-bar-form button {
	background: tomato;
	padding: 10px 40px;
	font-size: 18px;
	border: none;
	outline: none;
	color: #ffffff;
	cursor: pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.search-bar-form .fa-search {
	align-self: center;
	padding: 10px 20px;
	color: #777777;
}
/* SEARCH BAR END */

/* API RESULTS START */
#api_results{
	font-family:Arial, Helvetica, sans-serif;
	width: 450px;
	padding: 10px 32px;
	background-color: #f2f2f2;
	overflow: hidden;
	border-radius: 10px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 60px;
	position: relative;
}

#api_results #result_tab{
	flex-basis: 100%;
	float: right;
	font-size: 13px;
	background-color: #ffffff;
	border-radius: 8px;
	margin: 5px;
}

#api_results #result_img {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	clear: none;
}

#api_results #result_text {
	padding-top: 15px;
	font-size: larger;
	overflow: auto;
	width: 190px;
	max-height: 20px;
	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	clear: none;
}

#api_results #result_rating {
	float: left;
	clear: none;
	display: block;
}

#api_results #result_but {
	font-family:Arial, Helvetica, sans-serif;
	background: tomato;
	padding: 21px 40px;
	font-size: 18px;
	height: 100%;
	border: none;
	outline: none;
	color: #ffffff;
	cursor: pointer;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	float: right
}

/* API RESULTS END */

/* RATING START */
.stars-outer {
	position: relative;
	display: inline-block;
 }

 .stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
 }

 .stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ccc;
 }

 .stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f8ce0b;
 }
/* RATING END */

/* LOGO START */
#logga {
	margin: auto;
  	width: 180px;
}

#logo {
	padding: 0;
	position: relative;
	font-size: 40px;
	font-family: 'helvetica', sans-serif;
	float: right;
}

#logo a {
	color: #464646;
	text-decoration: none;
}

#logga #logoimg {
	position: relative;
	top: 7px;
	width: 90px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.418);
}
/* LOGO END */

/* NAVIGATION BAR START */
nav{
	 height:135px;
	 padding: 0;
	 margin: -8;
	 background: linear-gradient(270deg,#00893e, #00a54a);
	 background-size: 600% 600%;
	 box-shadow: 1px 4px 10px var(--nav-box-color);
	 -webkit-animation: navimation 30s ease infinite;
	 -moz-animation: navimation 30s ease infinite;
	 animation: navimation 30s ease infinite;
	 border-radius: 10px;

	 /* Variables */
	 --nav-box-color: lightblue;
}

@-webkit-keyframes navimation {
	 0%{background-position:0% 50%}
	 50%{background-position:100% 50%}
	 100%{background-position:0% 50%}
}
@-moz-keyframes navimation {
	 0%{background-position:0% 50%}
	 50%{background-position:100% 50%}
	 100%{background-position:0% 50%}
}
@keyframes navimation {
	 0%{background-position:0% 50%}
	 50%{background-position:100% 50%}
	 100%{background-position:0% 50%}
}

nav ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 background-color: rgba(51, 51, 51, 0.253);
	 border-radius: 10px;
	 color: rgba(0, 0, 0, 0);
	 position: -webkit-sticky; /* Safari */
	 position: sticky;
	 top: 0;
}
/* NAVIGATION BAR END */

/* FOOTER START */
footer {
	position: fixed;
	font-family:Arial, Helvetica, sans-serif;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--primary-footer-color);
	text-align: center;
	box-shadow: 0 -5px 8px 0 var(--primary-footer-box-color);

	/* Variables */
	--primary-footer-color: #c5c5c5;
	--primary-footer-box-color: #c2c2c2;
}
/* FOOTER END */

/* MEDIA QUERIES START */
@media (max-width: 600px) {
	.card {
		width: 80%;
	}
	.fileupload {
		width: 100%;
	}
	#submit_button {
		margin-bottom: 10px;
	}
	.search-wrapper {
		margin-top: 60px;
	}
	.search-bar-form input {
		width: 5px;
	}
	.search-bar-form button {
		padding: 0 5px;
	}
	#api_results{
		width: 90%;
		padding: 5px 10px;
	}
	#api_results #result_tab{
		width: 100%;
	}
	#api_results #result_but {
		padding: 21px 5px;
	}
}

/* MEDIA QUERIES END */