<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Browser Extension Scanner Toolt</title>
</head>
<body >
    <center>
        <h1 >Browser Extension Scanner Toolt</h1>
   
        <div class="card">
            <div class="container">
               
                
                <b>Choose Extension file. <br/>
                <form method="post" enctype="multipart/form-data" action="/file">
                 <Choose Directory:  <input type="file" name="file[]" id="id">
                    <!-- Choose Directory:  <input type="file" name="file[]" id="id" multiple="" directory="True" webkitdirectory="" mozdirectory=""> -->
                <input class="button" type="submit" value="Upload" name="upload" />    
                 </form>
                 <?php
                    if(isset($_POST['btnDesFolder'])){
                        $myFiles = $_POST['input-folder-2'];

                        if(isset($_POST['input-folder-2'])){
                            $files = scandir("path/to/your/folder");
                            $oldfolder = "path/to/your/folder/";

                            $newfolder = "path/to/new/folder";

                            foreach($files as $fname) {
                                if($fname != '.' && $fname != '..' && $fname != 'index.php') {
                                    rename($oldfolder.$fname, $newfolder.$fname);
                                }
                            }
                        }
                    }
                    ?>
                 </b>
                    
                            
    
        </div>
    </center>
</body>
</html>  

<!-- <form method="post" enctype="multipart/form-data" action="/file"> -->
