<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="loader"></div>
    <br/> <br/>
    <div class="checkboxes">
        <form method="post" action="/loading">
            Scanning in virustotal<input type="checkbox" name="adjective" value="virustotal" id = "a">
            <output name="x" for="a"></output>
            <br/> <br/>
            Scanning in retireJS<input type="checkbox" name="adjective" value="retireJS">
            
            <!-- Scann <input type="checkbox" name="adjective" value="exceptional"> -->
        </form> 
    </div>
</html>
