<!DOCTYPE html>
<html lang="en">
<head>
    <title>ESG - Loading</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="static/logo.png">
    <link rel="stylesheet" href="static/loading.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
{% if in_db %}
    <form id="form_wrapper" action="/in_db" method="post">
        <p>The extension is found in the database. Do you want to rescan?</p>
        <input class="button_style" type="submit" name="response" value="Yes">
        <input class="button_style" type="submit" name="response" value="No">
        <p>Any rescan that is the same as a previous scan will be discarded.</p>
    </form>
 {% endif %}
 {% if not in_db %}
<body  onpageshow="myFunction()">
{% endif %}
    <div class="loader" ></div>
        <form id = 'form' method="post" action="/results"></form>
            <p>Program is running. Time elapsed: </p>
            <p id="timer1"></p>
            <br/> If program takes more than 5 minutes, a restart is recommended. <br/>
            <script>
                const start = new Date().getTime();
                var x = setInterval(function(task){
                var now = new Date().getTime();
                var distance = Math.floor((now-start)/1000);
                if (distance < 600){
                    if (distance%60 < 10){
                        document.getElementById("timer1").innerHTML = "0"+Math.floor(distance/60) + ":" + "0" +distance%60;
                    }
                    else{
                        document.getElementById("timer1").innerHTML = "0"+Math.floor(distance/60) + ":" + distance%60;
                    }
                }else{
                    document.getElementById("timer1").innerHTML = ">10 Minutes";
                }
            }, 1000);
            </script>
            <script>
                function myFunction(){
                    document.getElementById('form').submit();
                }
            </script>
        </form>
    </div>
</html>
