<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask Multiple Files Upload Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Search for or submit an extension file to scan</h1> 

    <div class="card">
        <div class="fileupload">
            <b>Select a extension (crx) file</b>
            <form method="post" action="/" enctype="multipart/form-data">
                <input type="file" name="crxfile" >
                <input type="submit" value="Submit">
            
            </form>
        </div>
        <b>Search for extensions in the Chrome Web Store</b>
        <div class="searchbar">
            <form  action="/search" method="post">
                <input type="text" placeSubmitholder="Search.." name="search" >
                <button type="submit" class="button1"> <i class="fa fa-search" aria-label="Search"  > </i> </button>
                <table>
                    <div class='api_results'>
                        {% if content %}
                        {% for i in content %}
                        <div class="results">
                            <form action="/analyze" method="post" id="analyze">
                                <image src={{ i[2] }}></image>
                                <h2>{{ i[1] }}  <br/> 
                                <input name='extension_name' value ={{ i[6] }} type="hidden" class="button2" placeSubmitholder="button" onclick="myFunction('{{ i[6] }}')">
                                <button value ={{ i[6] }} class= 'button2' >submit </button>
                                <br/> 
                                {{ i[5] }}\5  </h2>
                            </form>
                        {% endfor %}
                        {% endif %}
                        <script type="text/javascript">
                            // function myFunction() {
                            //     document.getElementById('analyze').submit()

                            // }
                        </script>
                    </div>
                </table>
                    <!-- <img src={{content}}  /> -->
            </form>
        </div>
        <p>
           
            </p>
        <!-- <pre>{{content}}</pre> -->
        <!-- <div class="images">
            <form  action="/search" method="post">
                <input type="file"  name="image">

            </form>
        </div> -->
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </p>
    <!-- multiple="" autocomplete="off" directory="" webkitdirectory="" mozdirectory="" -->
</body>
</html>

<!-- placeSubmitholder = <button type="button" class="button2" value = 'select' id="select" onclick="myFunction()"> </button> -->