<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    <script src="./static/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESG</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav id="nav1">
        <ul>
            <li style=" float:right;">
                <label class="switch">
                    <input type="checkbox" id="toggle_theme_btn" onclick="toggle_theme()">
                    <span class="slider round"></span>
                </label>
            </li>
        </ul>
            <div id="logga">
                <a href="upload.html"><img id="logoimg" src=".\static\logo.png"></a>
                <h1 id="logo"><a href="upload.html">ESG</a></h1>
            </div>
    </nav>
    <h1 id="tagline">Search for or submit an extension file to scan</h1>

    <div class="card">

        <div class="fileupload">
            <b>Select a extension (crx) file</b>
            <form method="post" action="/upload" enctype="multipart/form-data">
                <input type="file" name="crxfile" >
                <input type="submit" value="Submit">
            </form>
        </div>
        <form  action="/search" method="post">
            <div class="search_bar_form">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search..." name="search">
                <button type="submit">Search</button>
        </form>
                <div class='api_results'>
                    {% if content %}
                    {% for i in content %}
                        <form action="/analyze" method="post" id="analyze" class = "form">
                            <h2>
                                <image src={{ i[2] }}></image>
                                {{ i[1] }}
                                <br/>
                                    <button id = 'extension_name' name='extension_name' value= {{ i[0] }} type="hidden" class="button2">select</button>
                                <br/>
                                {{ i[5] }}\5
                            </h2>
                        </form>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
    <footer id="footer1">
        lorem ipsum
    </footer>
</html>